/* Note styles */

.notes {
	margin: 30px 0 0;
	padding: 20px 10px 5px;
	border: 1px dashed #636363;
	background: rgba(255,255,255,0.5);
}

.Note {
	background: #fff;
	list-style: none;
	box-shadow: 2px 2px 5px 1px #636363;
	padding: 10px;
	margin-bottom: 15px;
	cursor: grab;
}